.projects-page{
  padding-bottom: 32px;

  h2 {
    font-size: 53px;
    font-weight: 400;
    font-family: 'Pistilli', serif;
    text-align: center;
  }

  .projects-list-collapse {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 16px;
    
  }

  .projects-list-detail{
    //border: 1px solid blue;
    display: block;
  }

  .spacer {
    height: 32px;
  }

  // @media (max-width: 1284px) {
  //   .projects-list {
  //     > *:last-child {
  //       margin-bottom: 32px;
  //     }
  //   }
  // }

  @media (max-width: 480px) {
    
    h2 {
      font-size: 40px;
    }

    .projects-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 16px;
    }
  }
}