.App {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr;
  block-size: 100vh;
  grid-template-areas: "sidebar container";

  .page {
    //border: 2px solid blue;
    grid-area: container;
    display: flex;
  }
  
  .container {
    //border: 1px solid red;
    margin: 10px;
  }
}