.contact-page {
  border: 5px solid green;
  //width: 100%;
  // display: flex;
  // flex-direction: column;

  h2 {
    font-size: 53px;
    font-weight: 400;
    font-family: 'Pistilli', serif;
    text-align: center;
  }
}