.leaves-container {
  border: 1px solid blue;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 15%;
  bottom: 0;
  left: 20%;
  margin: auto;
  opacity: 0;

  svg {
    border: 1px solid orange;
    width: 900px;
    height: auto;
    animation: fill 0.5s ease forwards 3.5s;
    
    path:nth-child(1) {
      stroke-dasharray: 65px;
      stroke-dashoffset: 65px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(2) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(3) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(4) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(5) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(7) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(8) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(9) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(10) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(11) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(12) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(13) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(14) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(15) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(16) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(17) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(18) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(19) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(20) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(21) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(22) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(23) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(23) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(24) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(25) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(26) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(27) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(28) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(29) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(30) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(31) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(32) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(33) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(34) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(35) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(36) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(37) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(38) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(39) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(40) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(41) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(42) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(43) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(44) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(45) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(46) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(47) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(48) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(49) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    path:nth-child(50) {
      stroke-dasharray: 653px;
      stroke-dashoffset: 653px;
      animation: line-anim 5s ease forwards
    }
    @keyframes line-anim {
      to{
        stroke-dashoffset: 0;
      }
    }
    @keyframes fill {
      from{
        fill: transparent;
      }
      to{
        fill: #7E7959;
      }
    }
  }
}

.svg-container {
  stroke: #7E7959;
  stroke-width: 0.5;
}